@font-face {
  font-family: "Roboto";
  src: url(../font/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Karla";
  src: url(../font/Karla-Regular.ttf);
}

@font-face {
  font-family: "Inter";
  src: url(../font/Inter-Regular.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #000000;
  font-family: "Roboto";
  width: 100%;
}

h3 {
  font-size: 15px;
  font-style: normal;
  background-color: #1cd1b0;
  height: 38px;
  padding: 10px;
}

section.tienda {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-content: left;
  align-items: center;
  padding: 10px;
  background-color: #00669f;
  background-size: cover;
  font-size: 18px;
  color: white;
}

section.barraAzul {
  background-color: #001d2d;
  text-align: right;
  padding: 5px 20px;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 5px;
}

.logeate {
  padding: 20px;
  color: #333333;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: left;
}

h2 {
  font-family: "Inter";
  font-size: 50px;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  font-family: "Karla";
}

form input {
  font-size: 15px;
  padding: 5px 80px;
}
input[type="text"] {
  margin: 5px;
}
input[type="email"] {
  margin: 5px;
}
input[type="password"] {
  margin: 5px;
}
input[type="email"] {
  margin: 5px;
}
input[type="submit"] {
  margin: 20px 5px;
  border-radius: 15px 15px;
  background-color: #1cd1b0;
  font-size: 15px;
  font-weight: 700;
  border-color: white;
  padding: 8px;
}
input[type="reset"] {
  margin: 20px 5px;
  border-radius: 20px 20px;
  background-color: #888888;
  color: white;
  font-size: 15px;
  font-weight: 700;
  border-color: white;
  padding: 10px 40px;
}

input.otroSubmit[type="submit"] {
  margin: 20px 5px;
  border-radius: 20px 20px;
  background-color: #1cd1b0;
  font-size: 15px;
  font-weight: 700;
  border-color: white;
  padding: 10px 50px;
}

.enviarResetear {
  text-align: center;
}

textarea {
  margin: 5px;
}

.noEstas {
  font-family: "Karla";
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

a.registrate {
  color: #222222;
  color: #00669f;
}

main {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  width: 100%;
  height: relative;
  justify-content: space-around;
  align-content: center;
  padding: 50px;
}

article {
  width: 300px;
  height: 650px;
  font-size: 30px;
  background-color: #f3f3f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: space-around;
  padding-top: 10%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

article.batman {
  line-height: 35px;
  background-image: url(../img/fondobatman.png);
  background-repeat: no-repeat;
  border-radius: 15px 15px;
}

article.harleyquinn {
  line-height: 35px;
  background-image: url(../img/fondoharley.png);
  background-repeat: no-repeat;
  border-radius: 15px 15px;
}

article.wonderwoman {
  line-height: 35px;
  background-image: url(../img/fondoWonderWoman.png);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 15px 15px;
}

article.superman {
  line-height: 35px;
  background-image: url(../img/fondo\ superman.png);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 15px 15px;
}

img.fotoPerfil {
  border-radius: 55%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 90px;
  top: 120px;
}

.nombre {
  position: absolute;
  text-align: center;
  top: 270px;
}

i {
  color: red;
  position: absolute;
  left: 20px;
  top: 20px;
}

div.textoHeroes {
  font-size: 16px;
  line-height: 18.75px;
  text-align: center;
  padding: 10px;
  width: 267px;
  position: absolute;
  left: 20px;
  top: 320px;
}

buttom {
  font-size: 15px;
  background-color: #00669f;
  color: #f3f3f3;
  position: absolute;
  text-align: center;
  top: 550px;
  padding: 10px 20px;
}

footer {
  text-align: center;
  width: 100%;
  background-color: #00669f;
  color: #fff9f9;
  margin: 0px;
  padding: 10px;
}
