@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Regular.ttf);
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color:#000000;
    font-family: 'Roboto';
    width: 100%;
}

h3{
font-size: 15px;
font-style: normal;
background-color: #1CD1B0;
height: 38px;
padding: 10px;
}

h1{
    font-size: 40px;
    font-style: normal;
    background-color: #00669F;
    height: 101px;
    padding: 30px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

main{
display: flex;
flex-direction: row;
width: 100%;
height: 1000px;
justify-content: space-around;
align-content: center;
padding: 13%;
}

article{
    Width: 300px;
    Height: 629px;
    font-size: 30px;
    background-color: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-items: center;
    padding-top: 10%;
    position: relative;

}

article.batman{
    line-height: 35px;
    background-image: url(../img/fondobatman.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;

}

article.harleyquinn{
    line-height: 35px;
    background-image: url(../img/fondoharley.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

article.tercerbatman{
    line-height: 35px;
    background-image: url(../img/fondobatman.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

img.fotoPerfil{
    border-radius: 55%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.nombre{
    margin-top: 40px;
}

i{
    color: red;
    position: absolute;
    left: 20px;
    top:20px;

}

div.textoHeroes{
    font-size: 16px; 
    line-height: 18.75px;
    padding: 10px;
    Width: 267px;
}

buttom{
    font-size: 15px;
    background-color: #00669F;
    padding: 15px 25px;
    color: #F3F3F3;
margin-top:50px;
}

footer{
text-align: left;
Width: 100%;
Height: 51px;
background-color: #00669F;
color: #FFF9F9;
padding: 15px;
}