
header{
    background-color:#E5E5E5;
}

#encabezado{
    color:#005677;
    font-size: 35px;
    background-color:#C4C4C4;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 10px;
}
#encabezado h1{
    padding: 8px;
}

h2{
    font-style: normal; 
font-weight: 700;
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
line-height: 16.94px; 
color:#005677;
background-color:#C4C4C4;
letter-spacing: 10px;
padding: 10px;

}

.listaSinPunto{
    list-style: none;
}

.conItalica{
    font-style: italic;
}


.sinNegrita{
    font-weight: normal;
    display: inline;
    font-style: normal;
}


li{
    font-style: normal; 
font-weight: 700;
font-family: 'Times New Roman', Times, serif;
font-size: 15px;
line-height: normal; 
color:#000000;
padding-left: 30px;
margin-bottom: 8px;
}

p{
    font-style: normal; 
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    line-height: normal; 
    color:#000000 ; 
    
}

h3{
    color:#FFFFFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    display: inline;
    margin-right: 30px;
    
}

footer{
    background-color:#005677;
    padding: 10px;
text-align: center;
}

footer img{
    margin-right: 20px;
}