@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Regular.ttf);
}

nav.fondoNegro{
    background-color: #222222;
    color: #F3F3F3;
    font-family: 'Roboto';
}

nav.fondoNaranja{
    background-color: #F0A83E;
    background-size: cover;
    font-family: 'Roboto';
    color: #FFFFFF;
}


section.comederoFondo{
    background-image: url("../img/fondo\ comedero.png");
    background-size: cover;
    font-family: 'Roboto';
}